.corpo{
  text-align: center;
  font-size: 30px;
  color: rgb(84, 135, 202);
 
  align-content: center;
}

.display{
  display: none;
  width: 900px;
    display: flex;
    border: solid 1px #000;
    padding: 100px; 
}
